# .js files no longer ignored

!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

.env
*.pem

# CDK context
cdk.context.json

# State machine input
state_machine_input.json

# Keypair
SeamlessBastionHostKeypair.pem