USER_AGENT=seamless-prepare/v1.0.0

# Classic, not Fine-grained PAT
GITHUB_PAT=ghp_abc123
GITHUB_REPO_URL=https://github.com/jasonherngwang/hello-world-express

LOG_SERVICE_ENDPOINT=https://abc123.m.pipedream.net
STAGE_ID=182801d8-ba2d-11ed-abc1-0242ac120123
